.volumeControlContainer {
  position: absolute;
  right: 0;
}

.volumeControl {
  background-color: var(--background);
  position: absolute;
  z-index: 10;
  top: -2px;
  left: -110px;
  display: none;
  padding: 10px 12px;

  &.visible {
    display: block;
  }
}
