.playerControls {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;

  .control {
    display: flex;
    border: 0;
    background: transparent;
    font-size: 3rem;
    padding: 0 10px;
    color: inherit;

    &.play {
      font-size: 4rem;
      padding: 0 5px;
    }

    &.volume {
      position: relative;
      font-size: 2rem;
      opacity: 0.6;
    }

    i {
      display: flex;
      align-items: center;
    }
  }
}
